.posts__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 69px;
}
.posts__title {
  text-decoration: none;
  font-style: normal;
  line-height: 25px;
  color: #4e4e4e;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.main-img {
  margin-bottom: 60px;
}
.main-img__picture {
  max-width: 100%;
}

.posts-item {
  display: grid;
  grid-template-columns: 30% 70%;
}
.posts-item__img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.posts-item__text-block {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-block__title {
  text-decoration: none;
  font-style: normal;
  line-height: 25px;
  font-weight: 700;
  font-size: 16px;
}
.text-block__link {
  text-decoration: none;
  font-style: normal;
  line-height: 25px;
  font-weight: 400;
  font-size: 12px;
  color: #7c7c7c;
  margin-right: 5px;
}
.text-block__text {
  text-decoration: none;
  font-style: normal;
  line-height: 25px;
  font-weight: 400;
  font-size: 14px;
  color: #5c5c5c;
}

.text-block-title__link {
  text-decoration: none;
  font-style: normal;
  line-height: 25px;
  color: #4e4e4e;
}

@media screen and (max-width: 768px) {
  .posts__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .posts-item {
    grid-template-columns: 40% 60%;
  }
}
@media screen and (max-width: 320px) {
  .text-block__text {
    display: none;
  }
  .posts-item {
    display: flex;
    flex-direction: column;
  }
  .posts-item__text-block {
    margin-left: 0;
  }
  .posts-item__img {
    width: 60%;
  }
}
.instagram-posts {
  background-color: #f7f7f7;
  padding-top: 5%;
  padding-bottom: 50px;
}
.instagram-posts__head {
  display: flex;
  justify-content: space-between;
}
.instagram-posts__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.instagram-posts-head-subtitle__link {
  text-decoration: none;
  font-style: normal;
  line-height: 25px;
  color: #4e4e4e;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

.instagram-posts-images__link {
  text-decoration: none;
}
.instagram-posts-images__img {
  max-width: 100%;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .instagram-posts-images__link:nth-child(4) {
    display: none;
  }
  .instagram-posts-images {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .instagram-posts-head-subtitle__link {
    display: none;
  }
}
@media screen and (max-width: 480px) and (max-width: 320px) {
  .instagram-posts-images__link:nth-child(2),
.instagram-posts-images__link:nth-child(3),
.instagram-posts-images__link:nth-child(4) {
    display: none;
  }
  .instagram-posts-images {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .instagram-posts {
    background-color: white;
  }
}
.footer {
  background-color: #000000;
  padding: 65px 0px 70px;
  text-align: center;
}
.footer__container {
  max-width: 680px;
  margin: 0px auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.footer__title {
  text-decoration: none;
  font-style: normal;
  line-height: 25px;
  color: #fefefe;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.footer__text {
  text-decoration: none;
  font-style: normal;
  line-height: 25px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #b9b9b9;
  margin: 20px auto 0;
}
.footer__contacts {
  display: flex;
  justify-content: center;
}

.footer-messengers {
  margin: 3%;
}
.footer-messengers__icon {
  max-width: 34px;
}

.footer-contacts__address {
  color: #b9b9b9;
  margin-right: 10px;
}
.footer-contacts__link {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .footer-contacts__link {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-contacts__address {
    margin-top: 5%;
  }
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-wrap .hamb-menu {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 5%;
}
.navbar-wrap .hamb-menu__item {
  display: flex;
  align-items: stretch;
  font-style: normal;
  font-size: 11px;
  text-transform: uppercase;
  list-style: none;
  font-weight: 400;
  line-height: 22px;
}

.navbar-wrap .hamb-menu__item a {
  align-items: center;
  text-decoration: none;
  color: #4e4e4e;
  padding: 10px 0px 10px 0px;
}

.hamb-menu__item.active a {
  color: #57a4a4;
}

.navbar-wrap {
  height: 100%;
}

.popup {
  display: none;
}

.hamb {
  display: none;
}

.popup .hamb-menu__item:hover {
  background-color: #e5e5e5;
}

@media screen and (max-width: 490px) {
  .navbar-wrap .hamb-menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-shrink: 1;
  }
  .hamb__field {
    padding: 13px 14px;
    cursor: pointer;
    background-color: black;
    margin: 16px 0px 16px 16px;
  }
  .bar {
    display: block;
    width: 17px;
    height: 2px;
    margin: 2px auto;
    background-color: white;
    transition: 0.2s;
  }
  .popup {
    position: absolute;
    top: 60px;
    height: 100px;
    min-width: 182px;
    min-height: 208px;
    background-color: #f5f5f5;
    z-index: 100;
    transition: 0.3s;
    color: aqua;
  }
  .popup.open {
    right: 0;
    display: flex;
  }
  .popup .hamb-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .popup .hamb-menu__item {
    text-transform: uppercase;
    list-style: none;
    font-weight: 400;
    line-height: 22px;
    padding: 4px;
    font-size: 14px;
  }
  .popup .hamb-menu__item:hover {
    background-color: #e5e5e5;
  }
  .popup .hamb-menu__item.active a {
    color: #57a4a4;
  }
  .popup .hamb-menu__item a {
    text-decoration: none;
    color: #4e4e4e;
  }
}