p {
  display: inline;
}
.films {
  max-width: 80%;
  margin: 0 auto;
}
h3 {
  color: cadetblue;
}
.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin: auto;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
