.footer {
  background-color: $-footer-background-color;
  padding: 65px 0px 70px;
  text-align: center;
  &__container {
    max-width: 680px;
    margin: 0px auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__title {
    @include text-standart;
    color: #fefefe;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__text {
    @include text-standart;
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: $-footer-text-color;
    margin: 20px auto 0;
  }
  &__contacts {
    display: flex;
    justify-content: center;
  }
}
.footer-messengers {
  margin: 3%;
  &__icon {
    max-width: 34px;
  }
}
.footer-contacts {
  &__address {
    color: $-footer-text-color;
    margin-right: 10px;
  }
  &__link {
    color: inherit;
    text-decoration: none;
    font-style: normal;
  }
}
@media screen and (max-width: 768px) {
  .footer-contacts {
    &__link {
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 480px) {
  .footer {
    &__contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .footer-contacts__address {
    margin-top: 5%;
  }
}
