@mixin text-standart {
  text-decoration: none;
  font-style: normal;
  line-height: 25px;
}
@mixin hamb-li-style {
  text-transform: uppercase;
  list-style: none;
  font-weight: 400;
  line-height: 22px;
}
