$-title-color: #4e4e4e;
$-background-color-section: #f7f7f7;
$-footer-text-color: #b9b9b9;
$-footer-background-color: #000000;
$-hamb-background: #f5f5f5;
$-hamb-item-hover-background: #e5e5e5;
$-accent-color: #57a4a4;
