.container {
  max-width: 1200px;
  margin: 0 auto;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user-card {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 370px;
  margin-bottom: 20px;
  border: 2px solid blue;
  border-radius: 10px;
  line-height: 15px;
  position: relative;
}
#name {
  font-size: 12px;
  font-weight: bold;
}
#email,
#time {
  font-size: 12px;
  color: gray;
}
#delete {
  border: 1px solid blue;
  color: blue;
  background-color: white;
  border-radius: 20px;
  padding: 5px 15px;
  position: absolute;
  top: 15px;
  right: 10px;
}
